# Miscellaneous
*.class
*.log
*.pyc
*.swp
.env
.env*.local
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Editors & IDEs
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Build Artifacts & Dependencies (Recursive for Monorepo)
build/
**/build/
.cxx/
**/android/.cxx/
node_modules/
**/node_modules/
.next/
**/.next/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
**/coverage/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Build Artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release